<section class="welcome__titles">
  <h1 class="welcome__titles--h1">Tech Talks</h1>
  <h2 class="welcome__titles--h2">Where you find your best talks</h2>
</section>

<section class="welcome__actions col-sm-8 col-md-8 offset-sm-2 offset-md-2 text-center">
  <p class="welcome__actions--text mb-5">
    Check out the latest talks in the tech field, create an account below.
  </p>
  <%= link_to "Sign up now!", new_user_registration_path, class: "st__button pt-3 pb-3 pl-4 pr-4 mt-3 col-sm-8 welcome__actions--btn text-center" %>
  
</section>
