// FONT
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

// COLORS

$color-primary: #59489e;
$color-secondary: #F8F8FF;
$color-white: #fff;
$color-black: #000;

$color-green: #5BBA47;
$color-blue: #50C3E2;
$color-gold: #FFC504;
$color-purple-light: #837BA8;
$color-red: #ca3e47;